#header{
  position:relative;
  padding:16px 32px;
  height:64px;
  box-sizing: border-box;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.history_box{
  display:flex;
  gap:16px;
  a{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    width:32px;
    height:32px;
    border-radius:50%;
    background-color:rgba(0,0,0,.7);
  }
}
.sign_in, .sign_out{
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  gap:8px;
  padding:2px 6px;
  line-height:32px;
  border-radius:23px;
  box-sizing:border-box;
  background-color:black;
  font-size:13px;
}
.sign_out{
  position:relative;
}
.login_gnb{
  position:absolute;
  right:0;
  top:42px;
  width:196px;
  padding:4px;
  border-radius:4px;
  background-color:#282828;
  box-sizing:border-box;
  box-shadow: 0 16px 24px rgba(0,0,0,.3), 0 6px 8px rgba(0,0,0,.2);
  z-index:2;
  ul {
    display:flex;
    flex-direction:column;
    text-align:left;
    border-bottom:1px solid hsla(0,0%,100%,.1);
  }
  a{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    height:40px;
    padding:0 8px 0 12px;
    line-height:40px;
    font-size:14px;
    color:hsla(0,0%,100%,.9);
    text-decoration:none;
    text-align:left;
    box-sizing:border-box;
    span{
      display:flex;
      justify-content: center;
      align-items: center;
    }
    &:hover{
      background-color:hsla(0,0%,100%,.1);
    }
  }
}
.toggle_show{
  display:block;
}
.toggle_off{
  display:none;
}
.user_icon{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  width:28px;
  height:28px;
  border-radius:50%;
  background-color:#535353;
  margin-left:2px;
}
.user_name{
  display:inline-block;
  max-width:110px;
  padding-left:8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height:32px;
  font-size:14px;
  font-weight:bold;
  color:#fff;
}
.menu_icon{
  display: flex;
  justify-content: center;
  align-items: center;
}

