@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  color:#fff;
}

.wrap{
  display:flex;
  flex-wrap: wrap;
  width:100vw;
  height:100vh;
  overflow:hidden;
  > div{
    width:100%;
  }
}

.section{
  width: 57.2917%;
  /* width: calc(100% - 400px); */
  height:calc(100vh - 90px);
  background-color: rgb(83, 83, 83);
  background-image:linear-gradient(rgba(0,0,0,.6) 0,#121212 100%);
}

.leftSide{
  width: 100%;
  max-width:20.8333%;
  height:calc(100vh - 90px);
  background-color:#000;
  padding-top:24px;
  box-sizing: border-box;
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}

.rightSide{
  width: 100%;
  max-width:21.875%;
  height:calc(100vh - 90px);
  background-color:#000;
  padding-top:24px;
  box-sizing: border-box;
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}

.sectionHeader{
  position:relative;
  padding:16px 32px;
  height:64px;
  box-sizing: border-box;
}

.player{
  position:relative;
  /* overflow:hidden; */
  width:100%;
  height:90px;
  background-color:#181818;
  border-top:1px solid #282828;
  box-sizing: border-box;
  color:#fff;
  z-index:10;

  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-between;
  align-items:center;
  padding:0 16px;

  > div{
    width: 100%;
    max-width: 528px;
  }

  > div:first-child + div{
    width:100%;
    max-width:704px;
    /* margin-top:-4px; */
  }

  /* button .svgIcon{
    transition: all .3s ease;
    fill:hsla(0,0%,100%,.7);
  }
  button:hover .svgIcon{
    fill:#fff;
  }
  button .svgStrokeIcon{
    transition: all .3s ease;
    stroke:hsla(0,0%,100%,.7);
  }
  button:hover .svgStrokeIcon{
    stroke:#fff;
  }

  .playerBarBox:hover a,
  .playerBarBox:hover .svgIcon{
    transition: all .13s ease;
  }
  .playerBarBox:hover a{
    background-color:#1ed760;
    background-color:#feac00;
  }
  .playerBarBox:hover .svgIcon{
    fill:#fff;
  }

  .playerBarBox:hover > div > div{
    opacity:1;
    transition: all .13s ease;
  } */
}

.flex_row{
  display:flex;
  flex-direction:row
}